---
HeaderFilterRegex: '^*.*$'
AnalyzeTemporaryDtors: false
FormatStyle:      file
User:             user
Checks:           'readability-*,
                  modernize-*,
                  -modernize-use-trailing-return-type,
                  performance-*'
WarningsAsErrors: 'performance-*'
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           2
  - key:             readability-function-size.LineThreshold
    value:           64
  - key:             readability-function-size.ParameterThreshold
    value:           8
  - key:             readability-magic-numbers.IgnoreAllFloatingPointValues
    value:           true
  - key:             readability-magic-numbers.IgnorePowersOf2IntegerValues
    value:           true

  - key:             modernize-use-default-member-init.UseAssignment
    value:           true
  - key:             modernize-use-auto.MinTypeNameLength
    value:           10

...
